@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Pretendard-Regular";
  background: #f4f4f9;
}
span {
  letter-spacing: -0.025em;
}
.letterOn {
  letter-spacing: -0.025em;
}
.noLetter {
  letter-spacing: 0;
}
.swiper {
  width: 100% !important;
  margin: 0 !important;
}
.swiper-wrapper {
  display: flex !important;
  justify-self: center !important;
}
@layer components {
  .langMain {
    @apply flex flex-col items-center justify-center h-[1700px];
  }
  .langOption {
    @apply flex flex-col items-center h-[1740px];
  }
}
span {
  text-decoration: none;
}
