@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

@layer components {
  .flex-box {
    @apply flex max-w-[1024px] w-full items-center justify-between;
  }
  .flex-center{
    @apply flex items-center justify-center
  }
}


.swiper-slide {
  padding: 16px;
}
