@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-family: "Inter", sans-serif;
  background: #f4f4f9;
}
.swiper-slide {
  /* width: calc(100% / 3) !important; */
}
.swiper {
  width: 100% !important;
  margin: 0 !important;
}
.swiper-wrapper {
  display: flex !important;
  justify-self: center !important;
}
@layer components {
  .flex-box {
    @apply flex w-full items-center justify-between;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
